indent_style = space
indent_size = 4
column_limit = 100
access_modifier_offset = -4
align_trailing_comments = true
bin_pack_arguments = false
bin_pack_parameters = false
brace_wrapping.after_class = false
brace_wrapping.after_function = true
brace_wrapping.after_control_statement = Never
continuation_indent_width = 4
cpp11_braced_list_style = true
fix_all_comments = false
include_categories = ""
indent_case_labels = false
indent_on_tabstop = false
indent_width = 4
max_empty_lines_to_keep = 1
namespace_indentation = None
pointer_alignment = Left
reference_alignment = Left
sort_includes = true
space_after_cast_parentheses = false
space_before_assignment_operators = true
space_before_cpp11_braced_list = false
spaces_before_trailing_comment = 2
standard = c++20
tab_width = 4
use_tab = false
